.card-img-top {
  /*height: 11vw;*/
  object-fit: cover;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .card-img-top {
    height: 19vw;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card-img-top {
    height: 16vw;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .card-img-top {
    height: 11vw;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 992px) {
  .card-img-top {
    height: 11vw;
  }
}
.card {
  
  transition: 0.6s;
}
.card:hover {
  background-color: rgb(255, 153, 204);
  box-shadow: 4px 4px 7px rgb(128, 128, 128);
  border-radius: 10px;
  border: 1px solid plum;
}
.card-body {
  background-color: rgb(255, 204, 212);
}

.btn {
  background-color: rgb(255, 153, 153);
}
.btn:hover{
  color: #ff7a59;
  border: #ff7a59 solid 1px;
  background:#fff;
}